body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --blue: #6610f2;
    --white:#ffffff;
    --color-main:#2e3192;
    --bg-white-me:rgba(255, 255, 255, 0.415);
}
.bg-white-opc{
background-color: var(--bg-white-me);
}
.font-white{
    color:var(--white) ;
}